body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20231229/pngtree-artistic-composition-hand-drawn-pizza-and-vegetables-on-a-beautiful-wood-image_13910939.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-image: url(media/carta.jpeg);
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

header h1 {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 0, 0);
    font-size: 54px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 0, 0);
    font-size: 20px; 
}

#pizzas {
    margin-top: 115px;
}

section {
    padding: 20px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0); 
    border-radius: 5px;
}

section h2 {
    margin-top: 0;
    background-color: #f9f9f938; 
    padding: 20px;
}

h2 {
    background-image: url('./media/carta.jpeg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Dancing Script', cursive;
    color: rgb(224, 224, 224);
}

.producto {
    border: 1px solid #dddddda9;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Dancing Script', cursive;
}

.producto h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.producto p {
    margin: 5px 0;
}

.producto img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
}

.producto button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.producto button:hover {
    background-color: #555555;
}

#carrito {
    background-image: url(media/carta2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 20px;
}

.card.producto {
    width: 100%;
    max-width: 300px;
    height: 450px;
    background-image: url(media/carta3.jpg);
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
}

.card.producto .card-body {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0 0 10px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
}

.card.producto .card-img-top {
    width: calc(100% - 20px); 
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
    margin: 10px; 
}

.card.producto .card-body img {
    margin: 10px; 
    max-width: calc(100% - 20px);
    max-height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.card.producto .card-body h3 {
    margin-top: 10px;
}

.card.producto .card-body p {
    margin: 10px 0;
}

.card.producto .card-body button {
    margin-top: auto;
}

#empanadas .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



#lista-carrito {
    list-style-type: none;
    padding: 0;
}

#total-carrito {
    font-weight: bold;
    color: white;
}

footer {
    background-image: url(media/carta.jpeg);
    margin-top: 20px;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
    font-family: 'Dancing Script', cursive;
}

#modalCompra {
    background-image: url(media/carta.jpeg);
    background-size: cover;
    background-position: center;
}

.modal-title {
    text-align: center; 
}

.modal-content {
    text-align: center; 
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-footer {
    display: flex;
    justify-content: center; 
    padding: 20px;
}

#lista-productos-modal {
    text-align: left; 
    padding: 0;
}

#total-modal {
    text-align: left;
}
